.introduction {
    padding-left: 120px;
    padding-top: 20px;

    @include adaptivity(1180px) {
        padding-right: 120px;
    }

    @include adaptivity(900px) {
        padding-right: 60px;
        padding-left: 60px;
    }

    @include adaptivity(500px) {
        padding: 20px 18px 0;
    }

    &__container {
        display: grid;
        grid-template-rows: 1fr min-content 1fr max-content;
        grid-template-columns: 1fr min-content;

        @include adaptivity(1180px) {
            grid-template-rows: min-content min-content min-content min-content;
            grid-template-columns: 1fr;
        }

        @include adaptivity(500px) {
            grid-template-rows: 1fr min-content min-content min-content;
        }
    }

    &-item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 1;

        @include adaptivity(1180px) {
            max-width: 100%;
        }
    }

    &-item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 2;
        justify-self: end;

        @include adaptivity(1180px) {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;
            justify-self: start;
        }

        @include adaptivity(500px) {
            width: calc(100% - 30px);
            justify-self: end;
        }
    }

    &-item:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 2;

        @include adaptivity(1180px) {
            grid-row-start: 3;
            grid-row-end: 3;
            margin: 40px 0;
            max-width: 100%;
        }
    }

    &-item:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 3;
        margin-top: 50px;

        @include adaptivity(1180px) {
            grid-row-start: 4;
            grid-row-end: 4;
            margin-top: 0;
        }
    }

    &-item:nth-child(5) {
        grid-row-start: 4;
        grid-row-end: 4;
        padding-bottom: 210px;

        @include adaptivity(1180px) {
            display: none
        }
    }

    &__title {
        @include inter-bold;
        font-size: 55px;
        line-height: 60px;
        letter-spacing: -0.5px;
        max-width: 460px;
        padding: 60px 0 50px;
        height: 120px;

        @include adaptivity(500px) {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.5px;
            padding: 40px 0;
            height: auto;
        }
    }

    &__description {
        @include inter-regular;
        font-size: 18px;
        line-height: 28px;
        opacity: 0.7;
        color: $lightTextSecondary ;
        max-width: 460px;

        @include adaptivity(500px) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__text {
        @include inter-regular;
        font-size: 18px;
        line-height: 18px;
        color: $lightTextMain;
    }

    &__line-block {
        @include flex(center, left);
        gap: 30px;
    }

    &__line {
        height: 2px;
        width: 132px;
        margin: 0;
        color: #D7D4D4;
        background-color: #D7D4D4;
        border: none;
    }

    &__group {
        position: relative;
    }

    &__bike {
        display: flex;
        background-color: $lightBackground;
        width: 440px;
        height: 300px;
        border-radius: 20px;
        align-items: center;
        filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
        position: absolute;
        top: 370px;
        right: 370px;

        @include adaptivity(1300px) {
            right: 200px;
        }

        @include adaptivity(730px) {
            left: -30px;
            width: 70%;
            height: 35%;
            bottom: 37px;
            top: auto;
        }
    }

    &__bike-image {
        margin: 0 auto;
        max-height: 260px;

        @include adaptivity(730px) {
            width: calc(100% - 60px);
            height: auto;
        }
    }

    &__image {
        @include adaptivity(730px) {
            width: 100%;
        }
    }
}