$lightBackground: #F4F4F4;
$lightSecondaryBackground: #EFEFEF;
$darkBackground: #333333;
$darkSecondaryBackground: #2F2F2F;

$lightTextMain: #151515;
$lightTextSecondary: #222222;
$lightTextCopyright: #CFCFCF;
$lightSwitcherBackground: #EBEBEB;

$darkTextMain: #FFFFFF;
$darkTextSecondary: #E5E5E5;
$darkTextCopyright: #565656;
$darkSwitcherBackground: #434343;

$buttonStart: #24B47E;
$buttonEnd: #319E75;
$borderTop: #E3E3E3;
$formBorder: #C7C7C7;
$black: #000000;
$white: #FFFFFF;