.description {
    padding: 120px 120px 60px;

    @include adaptivity(900px) {
        padding: 60px;
    }

    @include adaptivity(500px) {
        padding: 40px 18px;
    }

    &__container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: min-content 1fr;
        column-gap: 80px;
        border-top: 1px solid $borderTop;
        padding-top: 20px;

        @include adaptivity(1300px) {
            grid-template-rows: 1fr min-content min-content;
            grid-template-columns: 1fr;
        }
    }

    &-item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
        justify-self: start;

        @include adaptivity(1300px) {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;
            padding: 40px 0;
        }
    }

    &-item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        justify-self: start;

        @include adaptivity(1300px) {
            grid-row-start: 1;
            grid-row-end: 1;
        }

        @include adaptivity(770px) {
            width: 100%;
        }
    }

    &-item:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        justify-self: start;
        align-self: end;

        @include adaptivity(1300px) {
            grid-row-start: 3;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 1;
        }
    }

    &__title {
        @include inter-semibold;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.5px;
        color: $lightTextMain;

        @include adaptivity(500px) {
            font-size: 23px;
            line-height: 29px;
        }
    }

    &__author {
        @include inter-medium;
        font-size: 20px;
        line-height: 32px;
        color: $lightTextMain;

        @include adaptivity(500px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__profession {
        @include inter-regular;
        font-size: 16px;
        line-height: 28px;
        color: $lightTextSecondary;
        opacity: 0.7;

        @include adaptivity(500px) {
            font-size: 10px;
            line-height: 16px;
        }
    }
}