.header {
    padding: 0 120px;
    background-color: $lightBackground;
    transition: all 0.5s;

    &_sticky {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    &_theme_dark {
        background-color: $darkBackground;
        transition: all 0.5s;
    }

    @include adaptivity(900px) {
        padding: 0 60px;
    }

    @include adaptivity(500px) {
        padding: 0 18px;
    }

    &__container {
        min-height: 74px;
        @include flex(center);
        justify-content: flex-end;
        position: sticky;
    }

    &__burger-menu {
        @include flex(center, space-between);
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 70px 0 30px;
    }

    &__bar {
        display: none;
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        cursor: pointer;

        &_invisible {
            display: none;
        }

        @include adaptivity-min(652px) {
            display: block;
        }

    }

    &__close-button {
        display: none;
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        cursor: pointer;
    }

    &__close-button_visible {
        @include flex(center, flex-end)
    }

    &__links {
        @include flex(center, right);
        margin: 0;
        padding: 0;
        gap: 34px;
        list-style-type: none;

        @include adaptivity(652px) {
            display: none;
            gap: 32px;
        }
    }

    &__links_unfolded {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-bottom: 378px;
    }

    &__link {
        @include inter-medium;
        color: $lightTextMain;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
        transition: 0.3s;

        &:hover {
            opacity: 0.75;
            transition: 0.3s;
        }
    }
}

.wrapper {
    z-index: 100;
}