.training {
    padding: 150px 120px 120px;


    &__container {
        display: grid;
        grid-template-rows: min-content 1fr 1fr;
        grid-template-columns: 1fr minmax(280px, min-content);
    }

    &-item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    &-item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    &-item:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        margin-top: 50px;
    }

    &-item:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        align-self: end
    }

    &__title {
        @include inter-bold;
        font-size: 55px;
        line-height: 60px;
        letter-spacing: -0.5px;
        color: $lightTextMain;
    }

    &__description {
        @include inter-regular;
        font-size: 18px;
        line-height: 28px;
        opacity: 0.7;
        color: $lightTextSecondary;
        max-width: 460px;
    }

    &__text {
        @include inter-semibold;
        font-size: 18px;
        line-height: 28px;
        color: $lightTextMain;
    }

    &__group {
        @include flex(center, flex);
        gap: 30px;
    }
}